body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

button {
    padding: 1em;
}

label {
    padding: 1em;
}

.flex-fill {
    background: #5babbf;
    flex: 12 12 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.buttons {
    position: relative;
    flex: 6 6 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.square-panel{
    height: 35em;
    width: 35em;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
}

.button-grid .up { grid-area: up; }
.button-grid .right { grid-area: right; }
.button-grid .down { grid-area: down; }
.button-grid .left { grid-area: left; }